.vscode/c_cpp_properties.json
.vscode/extensions.json
.vscode/settings.json
.vscode/vex_project_settings.json
build/3303X.bin
build/3303X.elf
build/3303X.map
build/China_Code.bin
build/China_Code.elf
build/China_Code.map
build/src/ai_functions.o
build/src/ai_jetson.o
build/src/ai_robot_link.o
build/src/dashboard.o
build/src/field.o
build/src/main.o
build/src/robot-config.o
build/src/JAR-Template/drive.o
build/src/JAR-Template/PID.o
build/src/JAR-Template/util.o
